/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #242122;
    --secondary: #1d9d8f;
}

body {
    background-color: var(--primary);
}

.navbar-brand {
    font-family: 'Original Surfer', cursive;
    font-size: 1.5rem;
}

.logo {
    color: var(--secondary);
}

.btn-0 {
    background-color: var(--secondary);
    padding: 0.5rem;
    border-radius: 3rem;
}

.img {
    height: 30rem;
    width: 40rem;
}

.btn-1 {
    background-color: var(--secondary);
    font-weight: bold;
    padding: 0.8rem;
}

.btn-2 {
    color: var(--secondary);
    padding: 0.7rem;
}

.btn-2:hover {
    color: #fff;
}

